ALCHEMY_API_KEY=
PIMLICO_API_KEY=
APP_SALT=0x0000000000000000000000000000000000000000000000000000000000000001
BACKEND_URL=http://localhost:8080
BACKEND_SECRET=123
TENDERLY_API_KEY_SEPOLIA=
TENDERLY_API_KEY_OPTIMISM_SEPOLIA=
TENDERLY_API_KEY_ARBITRUM_SEPOLIA=
TENDERLY_API_KEY_BASE_SEPOLIA=
TENDERLY_API_KEY_POLYGON_AMOY=