ALCHEMY_API_KEY=
PIMLICO_API_KEY=
BACKEND_URL=http://localhost:8080
API_SECRET=
TENDERLY_API_KEY_SEPOLIA=
TENDERLY_API_KEY_OPTIMISM_SEPOLIA=
TENDERLY_API_KEY_ARBITRUM_SEPOLIA=
TENDERLY_API_KEY_BASE_SEPOLIA=
TENDERLY_API_KEY_POLYGON_AMOY=
ETHERSPOT_API_KEY=
CANDIDE_API_KEY=
ETHERSCAN_API_KEY=

ENVIRONMENT=
APP_SALT=0x0000000000000000000000000000000000000000000000000000000000000001
SESSION_SIGNER_ADDRESS=